body{
    margin: 0;
    padding: 0;
}
.calc{
    position: absolute;
    top: 14%;
    left: 49%;
}
.calculator{
    height: 400px;
    width: 330px;
    padding: 20px;
    position: absolute;
    top: 20%;
    left: 40%;
    border: 1px solid black;
    border-radius: 4px;
}
.calculator input{
    height: 50px;
    width: 285px;
    margin-left: 9px;
    text-align: right;
}
.calculator .button{
    width: 60px;
    height: 40px;
    border: 1px solid #ced4da;
    margin: 8px;
    border-radius: 10px;
}
.calculator .button:active{
    transform: scale(1);
    background: black;
    color: white;
}
#equal{
    width: 137px;
}


@media (max-width: 900px){
    .calculator{
        left: 30%;
    }
}
@media (max-width: 720px){
    .calculator{
        left: 22%;
    }
}
@media (max-width: 500px){
    .calculator{
        left: 12%;
    }
}
@media (max-width: 400px){
    .calculator{
        left: 5%;
    }
}


